# Prerequisites
*.d
src/auth_guard
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk
.DS_Store
# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
src/auth_guard
src/auth_guard
.vscode
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.vscode/c_cpp_properties.json
build/CMakeFiles/4.0.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/cmake.check_cache
.gitignore
